

.container{
    text-align: center;
}

.users{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
}
.card{
    width: 18em;
    margin:10px;
}

.btn-group{
    margin-top: 7%;
    margin-bottom:10%;
}