
body{
    height: 100vh;
    background-color:lightblue;
}

.app{
    min-height: 50vh;
    font-family: 'Metal Mania', cursive;
    color:rgb(121, 6, 6);
    display: flex;
    justify-content: center;
    font-size:3rem;
}